<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>New reference</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/references/save">
                <input class="form-control" type="text" name="title" placeholder="Set the reference title">
                <br>
                <input class="form-control" type="text" name="author" placeholder="Set the reference author">
                <br>
                <input class="form-control" type="text" name="link" placeholder="Set the reference link">
                <br>
                <button class="btn btn-primary">Resgister</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')%>
